
2-3_tree/.vs/2-3_tree/v15/.suo

*.db
*.opendb
*.ipch
*.sln
*.obj
*.idb
*.pdb
*.log
*.pch
*.tlog
*.vcxproj
*.filters
*.user
*.ilk
garbage/.vs/garbage/v15/.suo
*.exe

.gitignore
.gitattributes
2-3_tree/2-3_tree/Debug/main.obj.enc
ConsoleApplication1/.vs/ConsoleApplication1/v15/.suo
*.cpp
*.h
